Flask 
pillow
google-cloud-vision                                                                                                                                                        
python-dotenv                                                                                                                                                      
requests                                                                                                                                                                                   
flask-cors